body, h1, h2, h3{
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
}

nav {
    background: #34495e;
    padding: 10px 0;
    text-align: center;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
  

.content-section {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 50px; 
    margin-right: 20px;
}

.logo-text {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}



@media screen and (max-width: 768px) {
    .nav-container {
        flex-direction: column;
    }
    
    .nav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .nav-links a {
        width: 100%;
        text-align: center; 
    }

    
}


.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #005229;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    opacity: 0.9;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #276749;
    color: white;
}


