.carousel-container {
    display: flex;
    align-items: stretch; /* Make child elements fill the container height */
}
.carousel-slide {
    position: relative; /* Instead of absolute, if possible */
    width: 100%; /* Ensure full width */
    display: none; /* Initially hidden, shown via JS */
}


.carousel-slide img {
    width: 100%;
    height: auto;
}

#prev-slide, #next-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px; /* Increased padding for larger click area */
    background-color: #4CAF50; /* Adjusted to a solid color for visibility */
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 100; /* Ensured it's above other elements */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Optional: Makes text bold */
}


#prev-slide {
    left: 10px;
}

#next-slide {
    right: 10px;
}

