body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header, footer {
    background-color: #f5f5f5; /* Keeps the body background subtle */
}

header {
    background-color: transparent; /* Makes the header background transparent */
    color: white;
    text-align: center;
    padding: 0; /* Removes padding to eliminate any space inside the header */
    margin: 0; /* Ensure there are no margins */
    width: 100%; /* Ensures the header stretches fully across the width */
}

footer {
    
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
    color: #4CAF50; /* Maintains the header color as green */
}

select {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

#state-specific-info {
    margin-top: 20px;
}
